.home__hero {
  border-radius: 3rem;
  margin-bottom: 3rem;
}

.home__hero__search {
  background-image: url("/HeroImagesm.png");
  padding: 2rem 3rem;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.home__hero__search svg path {
  fill: white;
}

.home__hero__search p {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  max-width: 20rem;
}

.home__hero__search form {
  position: relative;
  display: inline;
}

.home__hero__search form input {
  border-radius: 59px;
  padding: 0.7rem 1.3rem;
  width: 25%;
  min-width: 13rem;
}

.home__hero__search form svg {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 1rem;
  top: -0.4rem;
}

.home__hero__search form svg path {
  fill: black;
}

.home__hero__mostsearch {
  background: #e3e1dc;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 3rem;
}

.home__hero__mostsearch p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 0.5rem;
}

.home__hero__mostsearch hr {
  background: #4d270c;
  border-radius: 77px;
  height: 0.3rem;
  max-width: 5rem;
  margin-left: 0;
}

.home__hero__mostsearch h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  margin: 1rem 0;
}

.home__hero__mostsearch__container_items {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-around;
  margin-top: 2rem;
}

.home__hero__mostsearch__item {
  width: 44%;
}

.home__hero__mostsearch__item img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 12px;
  object-fit: cover;
}

.home__hero__mostsearch__item p {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin: 0.3rem 0 1.5rem 0;
}

.home__hero__mostsearch_seemore {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-decoration: none;
  color: rgba(41, 21, 7, 0.6);
}

.home__hero__mostsearch_seemore span {
  font-size: 25px;
}

@media (min-width: 700px) {
  .home__hero__search {
    padding: 8% 0 10% 5%;
    background-image: url("/HeroImagemd.png");
  }

  .home__hero__search svg path {
    width: 256px;
    height: 100px;
  }

  .home__hero__mostsearch h4 {
    margin: 1rem 0 0 0;
  }

  .home__hero__mostsearch_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .home__hero__search p {
    font-size: 24px;
    line-height: 29px;
    max-width: 40rem;
  }

  .home__hero__search form input {
    border-radius: 59px;
    padding: 2.3rem 2.8rem;
    width: 35%;
    min-width: 13rem;
    font-size: 1.8rem;
  }

  .home__hero__mostsearch h4 {
    max-width: 60%;
  }

  .home__hero__search form svg {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 1.2rem;
    top: -1.2rem;
  }

  .home__hero__mostsearch__item {
    width: 22%;
  }
}

@media (min-width: 1300px) {
  .home__hero__search {
    background-image: url("/HeroImagelg.png");
  }
}
