@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

:root {
  ---color-text: #291507;
}

html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(---color-text);
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

.logo {
  margin-top: 1.2rem;
}

footer {
  background: #000000;
  border-top-right-radius: 42px;
  border-top-left-radius: 42px;
  padding: 2rem;
}

footer svg path {
  fill: white;
}

footer p {
  color: white;
  font-size: 12px;
  line-height: 15px;
  margin-top: 1.4rem;
}

footer p span {
  font-size: 24px;
  vertical-align: bottom;
}

@media (min-width: 700px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer p {
    margin: 0;
  }
}
